body{
    background-image: url('bg.jpg');

    backdrop-filter: blur(8px);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container
{
    background-color: white;
}

#cv-template
{
    display: none;
}
.myimg
{
    border-radius: 50%;
    width: 250px;
    height: 200px;
}
.background
{
    background-color: rgba(241, 240, 167, 0.658);
}